.block1{
	position: relative;
	border: solid 1px black;
	border-radius: 15px;
	width: auto;
	height: 200px;
	padding: 20px;
  background-color: #003399;
}
.block2{
	position: relative;
	border: solid 1px black;
	border-radius: 15px;
	width: auto;
	height: 200px;
	padding: 20px;
  background-color: #CC33CC;
}