.block1{
	position: relative;
	border: solid 1px black;
	border-radius: 15px;
	width: auto;
	height: 200px;
	padding: 20px;
  background-color: #3B439E;
  background-image: url("/img/hi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block2{
	position: relative;
	border: solid 1px black;
	border-radius: 15px;
	width: auto;
	height: 200px;
	padding: 20px;
  background-color: #CC33CC;
}